<button routerLink="/lazy">lazy</button>
<button routerLink="/lazy/quiz">quiz</button>
<br>
<button routerLink="/dialog">dialog</button>
<br>
<button routerLink="/preload">preload</button>
<br>
<button routerLink="/form">form</button>
<br>
<button routerLink="/datepicker">datepicker</button>
<br>
<button routerLink="/joke">joke</button>
<br>
<button routerLink="/bind-query-param-to-form?searchTerm=dsdsds&category=two">bind-query-to-form</button>
<br>
<button routerLink="/new-dialog">new-dialog</button>
<router-outlet></router-outlet>
